*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bc: #101828;
  --gc: #475467;
  --rc: #e44848;
  --yc: #ffc531;
  --nyc: #f2f4f7;
  --wc: #f7f7f7;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  border-radius: 200px;
  border: 1px solid transparent;
  padding: 16px, 60px, 16px, 60px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #e44848;
  color: #f2f4f7;
}
button:hover {
  background-color: #d84343;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
